/* 自定義 */
.customBoxShadow {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
  }



/* joinParticipate */
.joinParticipateVideo {
  position: relative;
}

.joinParticipateVideo::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, rgba(34, 170, 224, 0.5), rgba(149, 77, 207, 0.596));
  pointer-events: none;
}



/* RWD */
.responsive-picture {
  width: 100%; /* 默认宽度 */
  height: auto;
  transition: width 0.5s, transform 0.5s;
}

@media (min-width: 768px) {
  .responsive-picture {
    width: 1500%; /* 中等屏幕时放大 */
    transform: translateX(-37.5%);
  }
}

@media (min-width: 1024px) {
  .responsive-picture {
    width: 200%; /* 大屏幕时进一步放大 */
    transform: translateX(-25%);
  }
}